body {
    font-family: 'Arial', sans-serif;
  }
  
  header {
    background-image: linear-gradient(to right, #3a3b3c, #0f5caf);
  }
  
  .card img {
    height: 200px;
    object-fit: cover;
  }
  
  footer {
    background: #333;
  }
